<body>
    <div class="page-container">
    
        <h2>Rapport</h2>
        <h2>{{today_date}}</h2>
        <hr>
        <p>Epaisseurs utilis&eacute;s et vitesses correspondantes</p>
        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-o0zx">&Eacute;paisseur</th>
                    <th class="tg-86ya">Vitesse</th>
                </tr>
            </thead>
            <tbody>
                {% for data in thickness_speed_data %}
                    <tr>
                        <td class="tg-zq5u">{{ data[0] }}</td>
                        <td class="tg-zq5u">{{ data[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    
    
        <hr>
    
        <p>Temps de d&eacute;coupage des pi&eacute;ces en fonction du perim&eacute;tre et &eacute;paisseur </p>
    
        {% for file_info in file_data %}
        <div class="file-info">
            <p><strong>Fichier:</strong> {{ file_info[0][:20] }}</p>
            <p><strong>Perim&eacute;tre:</strong> {{ file_info[1] }} mm</p>
            <p><strong>&Eacute;paisseur:</strong> {{ file_info[2] }} mm</p>
            <p><strong>Vitesse:</strong> {{ file_info[3] }}</p>
            <p><strong>Temps decoupage:</strong> {{ file_info[4] }} secondes</p>
            <p><strong>Nombre des plis:</strong> {{ file_info[5] }}</p>
            <p><strong>Longueur:</strong> {{ file_info[6] }} mm</p>
            <p><strong>Largeur:</strong> {{ file_info[7] }} mm</p>
        </div>
        {% endfor %}
    
    </div>
    
</body>